string_primitives/simpleTasks/.idea/workspace.xml
string_primitives/simpleTasks/.idea/modules.xml
string_primitives/simpleTasks/.idea/.name
string_primitives/simpleTasks/.idea/encodings.xml
string_primitives/simpleTasks/.idea/simpleTasks.iml
string_primitives/simpleTasks/.idea/misc.xml
.idea/.name
.idea/misc.xml
.idea/python_primitives.iml
.idea/encodings.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml